.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  min-width: var(--size, 24px);
  width: var(--size, 24px);
  height: var(--size, 24px);
  display: block;

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: contain;
  }
}
