---
import App from "../layouts/App.astro";
import { Section, H1, H2, Button, Img } from "starter-kit";
import { TheGallery, TheVip, TheContacts } from "components";
---

<App title="О клубе ">
  <main>
    <!-- TheAbout -->
    <Section name="about" data-speed="1.1" data-intro>
      <div class="about__text">
        <H2>Добро пожаловать <br /> в клуб престижа и мастерства!</H2>
        <p>
          <strong class="text-primary font-bold">
            Бильярдный клуб «Статус»
          </strong>
          — это уникальное место в Санкт-Петербурге для истинных ценителей русского
          бильярда. Наш клуб расположен по адресу: проспект Славы, дом 52, корпус
          1.
          <br /><br />
          Мы предлагаем Вам погрузиться в атмосферу приятного отдыха, где всё создано
          для Вашего комфорта и удовольствия. В нашем клубе всего три 12-футовых
          профессиональных стола для русского бильярда, что гарантирует отсутствие
          толпы и полное погружение в игру.
          <br /><br />
          Мы создаем пространство, где каждый элемент продуман до мелочей: от обслуживания
          до обстановки. В «Статусе» Вы сможете не только насладиться игрой, но и
          провести время в приятной компании, обсуждая новости бильярдного мира в
          нашем баре.
          <br /><br />
          Вы можете написать нам на почту или отправить заявку через форму бронирования
          что бы забронировать стол на следующий день. Вы так же всегда можете позвонить
          нам по телефону <br />
          <a class="text-primary" href="tel:+79112703355">+7 (911) 270-33-55</a>
          и забронировать удобное для вас время.
          <br /><br />
          Для наших постоянных клиентов действует дисконтная карта, предоставляющая
          дополнительные привилегии и скидки.
          <br /><br />
          Бильярдный клуб «Статус» — это место, где царит атмосфера уюта и приятного
          отдыха. Мы ждем Вас, чтобы подарить незабываемые впечатления от игры и
          общения.
        </p>
        <button onclick="openPopup('form',true)" class="btn btn--primary">
          Забронировать стол
        </button>
      </div>
      <Fragment slot="footer">
        <Img class="about__img" src="about-img.png" only />
      </Fragment>
    </Section>
    <!-- TheGallery -->
    <TheGallery main />
    <!-- TheVip -->
    <TheVip />
    <!-- TheContacts -->
    <TheContacts />
  </main>
</App>
