---
import App from "../layouts/App.astro";
import { Section, H1, H2, Block } from "starter-kit";
import { TheIntro } from "components";
---

<App title="Бильярдный Клуб">
  <main>
    <!-- Intro -->
    <TheIntro />
  </main>
</App>
