---
import App from "../layouts/App.astro";
import { TheContacts } from "components";
---

<App title="Контакты">
  <main>
    <!-- TheContacts -->
    <TheContacts main data-intro />
  </main>
</App>
