---
import App from "../layouts/App.astro";
import { Section, H1, H2, Button, Img } from "starter-kit";
import { TheGallery, TheVip, TheContacts } from "components";
---

<App title="Акции">
  <!-- TheOffers -->
  <Section name="offers" data-intro>
    <div class="offers__text">
      <H2>VIP карта для посетителей</H2>
      <div class="offers__desc">
        <p>
          Мы ценим наших постоянных клиентов и рады предложить вам уникальную
          возможность стать обладателем VIP карты клуба. Эта карта предоставляет
          эксклюзивные привилегии и делает ваше пребывание у нас еще более
          комфортным и выгодным.
        </p>
        <div class="font-bold text-primary">Преимущества VIP карты:</div>
        <ul>
          <li>
            <strong>Персональное обслуживание:</strong>
            Ваша игра будет сопровождаться вниманием персонального менеджера, который
            обеспечит высший уровень сервиса и удовлетворит все ваши пожелания.
          </li>
          <li>
            <strong> Скидки на аренду столов:</strong>
            Получите значительные скидки на аренду профессиональных бильярдных столов,
            а также на VIP-залы, созданные для вашего комфорта и уединения. Размер
            скидки варьируется в зависимости от количества визитов.
          </li>
          <li>
            <strong>Приоритетное бронирование:</strong>
            Забыли забронировать стол заранее? С VIP картой вам всегда гарантировано
            приоритетное право на аренду столов и залов даже в часы пик.
          </li>
          <li>
            <strong>Эксклюзивные мероприятия:</strong>
            Приглашения на закрытые мероприятия клуба, включая турниры, мастер-классы
            от известных бильярдистов и тематические вечера.
          </li>
        </ul>
        <div class="text-primary font-bold">Как получить VIP карту?</div>
        <p>
          Стать обладателем VIP карты очень просто. Обратитесь к администратору
          клуба при следующем визите и он поможет Вам с оформлением.
        </p>
        <div class="text-primary font-bold">Условия использования</div>
        <p>
          VIP карта бессрочна, и действует с момента выдачи. Все привилегии и
          скидки распространяются только на держателя карты и не могут быть
          переданы третьим лицам. Подробные условия использования и информацию о
          всех привилегиях вы можете узнать у нашего персонала .
          <br /><br />
          Присоединяйтесь к избранному кругу посетителей клуба "Статус" и наслаждайтесь
          игрой в бильярд на высшем уровне! Мы уверены, что VIP карта сделает ваши
          визиты в клуб еще более приятными и незабываемыми.
        </p>
      </div>
    </div>
    <Img class="offers__img" src="vip.png" only />
  </Section>
  <!-- TheContacts -->
  <TheContacts />
</App>
