---
import { H2, Img } from "starter-kit";
---

<div class="popup popup--form">
  <div class="popup__bg" onclick="closePopup('form')"></div>
  <div class="popup__content">
    <div class="popup__close" onclick="closePopup('form')">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L23.5 23.5" stroke="currentColor" stroke-width="2"></path>
        <path d="M23.5 1L1 23.5" stroke="currentColor" stroke-width="2"></path>
      </svg>
    </div>
    <Img class="img" src="logo.svg" only />
    <div class="popup__form" id="form-book">
      <H2>Забронировать стол</H2>
      <form>
        <input
          type="text"
          name="name"
          placeholder="Ваше имя"
          minlength="3"
          required
        />
        <input
          type="text"
          class="v-mask"
          name="phone"
          placeholder="Ваш телефон"
          required
        />

        <input type="date" name="date" placeholder="Выберите дату" required />
        <div class="row">
          <input
            type="time"
            name="start-time"
            placeholder="Время начала"
            required
          />
          <input
            type="time"
            name="end-time"
            placeholder="Время конца"
            required
          />
        </div>
        <textarea
          name="message"
          placeholder="Здесь вы можете указать количество столов для брони, номер стола, за которым вы хотите играть или другой комментарий"
        ></textarea>
        <button type="submit" class="btn btn--primary"
          >Забронировать стол</button
        >
        <div class="text-xs">
          Возможность онлайн бронирования возможно только на <br /> следующий от
          заявки день.
          <br /><br />
          Отправляя заявку я даю <span class="text-primary"
            >согласие на обработку персональных данных</span
          > и <span class="text-primary">согласие с правилами клуба</span>
        </div>
      </form>
    </div>
    <div class="popup__form" id="form-application">
      <H2>Оставить заявку</H2>
      <p>
        Оставьте заявку и наш менеджер свяжется с Вами, <br /> и ответит на интересующие
        вопросы.
      </p>
      <form>
        <input
          type="text"
          name="name"
          placeholder="Ваше имя"
          minlength="3"
          required
        />
        <input
          type="text"
          class="v-mask"
          name="phone"
          placeholder="Ваш телефон"
          required
        />
        <textarea name="message" placeholder="Комментарий"></textarea>
        <button type="submit" class="btn btn--primary">Отправить</button>
        <div class="text-xs">
          Возможность онлайн бронирования возможно только на <br /> следующий от
          заявки день.
          <br /><br />
          Отправляя заявку я даю <span class="text-primary"
            >согласие на обработку персональных данных</span
          > и <span class="text-primary">согласие с правилами клуба</span>
        </div>
      </form>
    </div>
    <div class="popup__success" id="form-success">
      <H2>Спасибо за Вашу заявку!</H2>
      <div class="text-sm">
        Наш менеджер вскоре свяжется с Вами, <br /> и ответит на интересующие вопросы.
      </div>
      <a href="/" class="btn btn--primary">На главную</a>
    </div>
  </div>
</div>
