---
import { Section, H2, Img } from "starter-kit";
---

<Section name="vip">
  <div class="vip__text" data-animation="fade-left">
    <H2>VIP карта для посетителей</H2>
    <p>
      С VIP картой вы получаете персональное обслуживание, скидки на аренду
      столов и залов, приоритетное бронирование, приглашения на эксклюзивные
      мероприятия, и бонусную программу.
      <br /><br />
      Заполните заявку на сайте или у администратора клуба.
      <br /><br />
      Наслаждайтесь игрой на высшем уровне!
    </p>
    <a href="/pricing" class="btn btn--outline">Стоимость и условия</a>
  </div>
  <Img class="vip__img" src="vip.png" only data-animation="fade-right" />
</Section>
