---
import { Section, H2, Img } from "starter-kit";
---

<Section name="welcome">
  <div class="welcome__text">
    <H2>Добро пожаловать <br /> в клуб престижа и мастерства!</H2>
    <p>
      Наш бильярдный клуб предлагает уникальную атмосферу и исключительное
      качество игры.
      <br /><br />
      В нашем клубе всего три премиальных бильярдных стола, каждый из которых создан
      для истинных ценителей и профессионалов, стремящихся к совершенству в каждой
      партии.
      <br /><br />
      Приходите и окунитесь в мир элитного бильярда, где каждый посетитель ощущает
      себя особенным, а каждая партия приносит настоящее удовольствие.
      <br /><br />
      Бильярдный клуб “Статус” — это место, где встречи превращаются в традиции,
      а игра — в искусство.
    </p>
    <a href="/about" class="btn btn--outline">Подробнее о клубе</a>
  </div>
  <Img src="ball.png" class="welcome__img" />
</Section>
