---
import { TheHeader, TheFooter, ThePopup } from "components";
import { Button } from "starter-kit";
import "../../public/assets/scss/app.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
const timestamp = Date.now();
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="The Site uses Aziz Sobirov's Starter Kit"
    />
    <meta name="author" content="Aziz Sobirov" />
    <meta name="theme-color" content="#111111" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/assets/css/fancybox.min.css" />
    <link rel="stylesheet" href="/assets/css/swiper.min.css" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <!-- Header -->
    <TheHeader />
    <slot name="header" />
    <!-- Main -->
    <slot />
    <!-- Footer -->
    <TheFooter />
    <!-- Popup -->
    <ThePopup />
    <!-- Need consultation -->
    <div class="toast">
      <div class="toast__close" onclick="closeToast()">
        <img src="/assets/img/icons/close.svg" alt="" />
      </div>
      <div class="col">
        <div class="font-regular">Нужна консультация?</div>
        <hr />
        <p class="text-sm">
          Оставьте заявку и наш менеджер <br /> позвонит Вам для уточнения деталей
        </p>
      </div>
      <Button variant="black">Оставить заявку</Button>
    </div>
    <slot name="footer" />
    <!-- Scripts -->
    <script src="/assets/js/swiper.min.js" is:inline></script>
    <script src="/assets/js/fancybox.min.js" is:inline></script>
    <script src=`/assets/js/app.js?v=${timestamp}` is:inline></script>
    <slot name="scripts" />
  </body>
</html>
